<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304397929395-39aesrn9kkua1ehk0kbckj94bjc6mnc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304397929395-39aesrn9kkua1ehk0kbckj94bjc6mnc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDwlAQCV53WEwT4UyinaWC4AOU889XTRMA</string>
	<key>GCM_SENDER_ID</key>
	<string>304397929395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.areeb.areebjo</string>
	<key>PROJECT_ID</key>
	<string>areeb-3be6c</string>
	<key>STORAGE_BUCKET</key>
	<string>areeb-3be6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304397929395:ios:ce9b3f7cedbcc827ab99c6</string>
	<key>DATABASE_URL</key>
	<string>https://areeb-3be6c.firebaseio.com</string>
</dict>
</plist>