<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
  	<ion-buttons slot="end">
      <ion-menu-button style="color:#F9475C"></ion-menu-button>
    </ion-buttons>
    <ion-title>التصنيفات</ion-title>
    <ion-buttons slot="start">
      <img src="../../assets/imgs/searchVal.png" style="width:27px; height:27px;"/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   <div>
    <ion-grid *ngIf="!categoriesSkeleton">
        <ion-row>
            <ion-col size="4" *ngFor="let items of returnCategoriesArray">
                <ion-card class="categoriesHomeCard" (click)="functionStoresByCat(items.id)">
                    <div>
                        <div class="categoriesHomeDiv"><img src="{{items.image}}" class="categoriesHomeImage"></div>
                        <div class="categoriesHomeLabel">{{items.title}}</div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="categoriesSkeleton">
        <ion-row>
            <ion-col size="4" *ngFor="let items of returnCategoriesArray">
                <ion-card class="categoriesHomeCard">
                    <div>
                        <div class="categoriesskeletonHomeDiv"><ion-skeleton-text animated class="skeletonCategoriesHome"></ion-skeleton-text></div>
                        <div class="categoriesskeletonHomeLabel"><ion-skeleton-text animated class="skeletonCategoriesHomeText"></ion-skeleton-text></div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>
<ion-footer class="ion-no-border">
<ion-toolbar class="footerToolbar">
	<div class="width100">
        <div class="menueClass" (click)="functionGoToHome()">
        	<div><img src="../../assets/imgs/Group862.png" style="width:20px"></div>
            <div class="labelClass">الرئيسية</div>
        </div>
           <div class="menueClass" (click)="functionAllStores()">
        	<div><img src="../../assets/imgs/Group863.png" style="width:20px"></div>
            <div class="labelClass">المتاجر</div>
        </div>
        <div class="menueClass" (click)="functionGoToShoppingcart()">
        	<div><img src="../../assets/imgs/Group10.png" style="width:20px"></div>
            <ion-badge slot="start" mode='ios'>{{productInShopingCart}}</ion-badge>
            <div class="labelClass">سلة الشراء</div>
        </div>
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><img src="../../assets/imgs/Group865.png" style="width:23px"></div>
            <div class="labelClass">المنتجات</div>
        </div>
        <div class="menueClass" (click)="functionOpenMenue()">
        	<div><img src="../../assets/imgs/Group866.png" style="width:21px"></div>
            <div class="labelClass">قائمتي</div>
        </div>
    </div>
</ion-toolbar>
</ion-footer>
