ion-content{
	--background: var(--ion-color-header);
	--padding-end:35px;
	--padding-start:35px;
	--padding-bottom:10px
}
/*comtent*/
.firstTitle{
	padding-top:25px; 
	text-align:center;
	color:#494949;	
}
.lastTitle{
	padding-top:5px; 
	text-align:center;
	color:#494949;
	padding-bottom:10px
}
/*menu style*/
.footerToolbar{
--background: #ffffff;
--border-width:0px;
--padding-top:7px;
--padding-bottom:0px;
--padding-start:0px;
--padding-end:0px;
}
.menueClass{
	color:#494949;
	width:20%;
	float:right;
	text-align:center;
	cursor:pointer;
}
.menueClassActive{
	color:#DB4437;
}
.labelClass{
    font-size: 13px !important;
    margin-bottom: 9px;
	font-weight: 600;
}
ion-badge{
    --background: #F9475C;
    color: #ffffff;
    position: fixed;
    top: 3px;
    --padding-top: 6px;
    --padding-end: 5px;
    --padding-bottom: 1px;
    --padding-start: 5px;
    font-size: 11px;
}
/*menu style*/


