ion-content{
	direction:rtl;
	 --background: transparent;
}
ion-icon {
  font-size: 30px;
  color:#ffffff
}
.contentDiv{
	width: 100%;
    height: 70%;
    position: absolute;
    top: 30%;
	padding: 10px;
}
.subContentDiv{
	width:100%;
	overflow-y:auto;
	border-radius:20px;
	background-color:#ffffff;
}
ion-checkbox{
	--background:#ffffff;
	--background-checked:#F9475C;
	--border-color:#F9475C;
	--border-color-checked:#F9475C;
	--border-width: 2px;
	--size: 20px;
	--checkmark-width:3px;
	margin:0px
}
ion-list{
	background-color:#f1f1f1
}
ion-item{
	--background:#ffffff;
	--min-height: 50px;
	--border-width: 0px 0px 1px 0px !important;
	--border-color:#BDBDBD;
}
.lastItem{
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    --border-width: 0px !important;
    --min-height: 10px;
}
ion-radio{
	--color-checked:var(--ion-color-menueColor);
}
ion-label{
    margin: 0px;
    margin-bottom: 3px;
    font-size: 15px !important;
    color: #494949 !important;
	padding-right:13px
}
.oneButton{
	--background: #F9475C !important;
	--color:#ffffff !important;
	--border-radius: 30px;
	--padding:0px;
	height: 47px;
    width: 35%;
}
.oneButton.activated{
	--background: #F9475C !important;
	padding:0px;
}
.divButtonClass{
	text-align:center;
	padding-top:17px;
	padding-bottom:10px;
}